{% extends "intra/layout_intranet_classes.html" %}

{% block content %}
  <h1>Our classes</h1>

  {% for clas in classes.items %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="{{ url_for('intra.clas', clas_id=clas.id) }}">{{ clas.name }}</a></h2>
            <div class="ml-4 class-content">
              <div>
                <p>Class code :</p>
                <p>Course :</p>
                <p>Teacher :</p>
              </div>
              <div class="ml-4">
                <p>{{ clas.class_code }}</p>
                <p>{{ clas.course }}</p>
                <p>{{ clas.teacher }}</p>
              </div>
            </div>
          </div>
        </article>
    {% endfor %}
    {% for page_num in classes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if classes.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('intra.intranet_classes', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('intra.intranet_classes', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}
