{% extends "layout.html" %}

{% block content %}
  <div class="content-section">
    <h1 class="mb-4">VideoGame Highschool</h1>
    <h3 class="ml-2">What we're all about:</h3>
    <h5 class="ml-4 mb-4">Powning noobs!</h5>
    <h3 class="ml-2">What we're looking for:</h3>
    <h5 class="ml-4 mb-4">Only the best and most leet!</h5>
    <h3 class="ml-2">What you can expect:</h3>
    <h5 class="ml-4 mb-4">The best competitive gamingscene across the globe!</h5>
    <h3 class="ml-2">Want to know more?</h3>
    <h5 class="ml-4 mb-4">Check out our awesome site!</h5>
  </div>
{% endblock content %}
